.container
{
  height: 100px;
  width: 100px;
  background-color: LimeGreen ;
  text-align: center;
  color: white;
  line-height: 100px;
  transition: border-radius 1s;
}

.container:hover
{

  border-radius: 50px;
  background-color: Orange ;
}

body
{
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
